header{
    display: flex;
    background-color: #ff6902;
    color: white;
}

.top-menu{
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: white;

    button{
    color: white;
    margin-right: 5px;
    }

    ul{
    list-style: none;
        li{
        display: inline-block;
        margin-right: 5px;
        }
    }

}
